<!DOCTYPE html>
<html>
    <head></head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Making your account was succesful</title>
    <body>
        <div>
            <h1 class="center-text">You have succesfully made a new account </h1>
            <img src="{{ url_for('static', filename='images/party-popper.png') }}" class="party-popper-img">
        </div>

        <br>
        
        <a class="explore-content-new-acc" href="/scroll" class="button">Explore content</a>
    </body>
</html>