<!DOCTYPE html>
<html>
    <head></head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ThePhotoScroll</title>
    <body>
        <h1>ThePhotoScroll</h1>
        <br>
        <a class="button" href="/post" class="button">Create content</a>
        <br>

        <div class="post">
            <h1>Hanging out with some friends</h1>
            <h3>Bob @Bob123</h3>
            <p>We are going to spend some time together!</p>
            <img src="{{ url_for('static', filename='images/image1.jpg') }}" class="img-post">
            <p><strong>11/12/2022 John @John123:</strong> That looks really fun!</p>
            <p><strong>11/12/2022 Replying to @John123</strong> Jamie @Jamie123: I agree</p>
            <p><strong>11/12/2022 Replying to @John123</strong> Bob @Bob123 (Creator): It sure was</p>
        </div>

        <div class="post">
            <h1>Just chilling</h1>
            <h3>Bill @Bill123</h3>
            <p>We are going to have a fun day!</p>
            <img src="{{ url_for('static', filename='images/image2.jpg') }}" class="img-post">
            <p><strong>11/12/2022 John @John123:</strong> That looks really fun!</p>
            <p><strong>11/12/2022 Replying to @John123</strong> Bob @Bob123 : It probaly was</p>
        </div>

        <div class="post">
            <h1>Hanging out with some friends</h1>
            <h3>Bob @Bob123</h3>
            <p>We are going to spend some time together!</p>
            <img src="{{ url_for('static', filename='images/image1.jpg') }}" class="img-post">
            <p><strong>11/12/2022 John @John123:</strong> That looks really fun!</p>
            <p><strong>11/12/2022 Replying to @John123</strong> Jamie @Jamie123: I agree</p>
            <p><strong>11/12/2022 Replying to @John123</strong> Bob @Bob123 (Creator): It sure was</p>
        </div>

        <div class="post">
            <h1>Just chilling</h1>
            <h3>Bill @Bill123</h3>
            <p>We are going to have a fun day!</p>
            <img src="{{ url_for('static', filename='images/image2.jpg') }}" class="img-post">
            <p><strong>11/12/2022 John @John123:</strong> That looks really fun!</p>
            <p><strong>11/12/2022 Replying to @John123</strong> Bob @Bob123 : It probaly was</p>
        </div>

        <div class="post">
            <h1>Hanging out with some friends</h1>
            <h3>Bob @Bob123</h3>
            <p>We are going to spend some time together!</p>
            <img src="{{ url_for('static', filename='images/image1.jpg') }}" class="img-post">
            <p><strong>11/12/2022 John @John123:</strong> That looks really fun!</p>
            <p><strong>11/12/2022 Replying to @John123</strong> Jamie @Jamie123: I agree</p>
            <p><strong>11/12/2022 Replying to @John123</strong> Bob @Bob123 (Creator): It sure was</p>
        </div>

        <div class="post">
            <h1>Just chilling</h1>
            <h3>Bill @Bill123</h3>
            <p>We are going to have a fun day!</p>
            <img src="{{ url_for('static', filename='images/image2.jpg') }}" class="img-post">
            <p><strong>11/12/2022 John @John123:</strong> That looks really fun!</p>
            <p><strong>11/12/2022 Replying to @John123</strong> Bob @Bob123 : It probaly was</p>
        </div>

        <div class="post">
            <h1>Hanging out with some friends</h1>
            <h3>Bob @Bob123</h3>
            <p>We are going to spend some time together!</p>
            <img src="{{ url_for('static', filename='images/image1.jpg') }}" class="img-post">
            <p><strong>11/12/2022 John @John123:</strong> That looks really fun!</p>
            <p><strong>11/12/2022 Replying to @John123</strong> Jamie @Jamie123: I agree</p>
            <p><strong>11/12/2022 Replying to @John123</strong> Bob @Bob123 (Creator): It sure was</p>
        </div>

        <div class="post">
            <h1>Just chilling</h1>
            <h3>Bill @Bill123</h3>
            <p>We are going to have a fun day!</p>
            <img src="{{ url_for('static', filename='images/image2.jpg') }}" class="img-post">
            <p><strong>11/12/2022 John @John123:</strong> That looks really fun!</p>
            <p><strong>11/12/2022 Replying to @John123</strong> Bob @Bob123 : It probaly was</p>
        </div>

        <div class="post">
            <h1>Hanging out with some friends</h1>
            <h3>Bob @Bob123</h3>
            <p>We are going to spend some time together!</p>
            <img src="{{ url_for('static', filename='images/image1.jpg') }}" class="img-post">
            <p><strong>11/12/2022 John @John123:</strong> That looks really fun!</p>
            <p><strong>11/12/2022 Replying to @John123</strong> Jamie @Jamie123: I agree</p>
            <p><strong>11/12/2022 Replying to @John123</strong> Bob @Bob123 (Creator): It sure was</p>
        </div>

        <div class="post">
            <h1>Just chilling</h1>
            <h3>Bill @Bill123</h3>
            <p>We are going to have a fun day!</p>
            <img src="{{ url_for('static', filename='images/image2.jpg') }}" class="img-post">
            <p><strong>11/12/2022 John @John123:</strong> That looks really fun!</p>
            <p><strong>11/12/2022 Replying to @John123</strong> Bob @Bob123 : It probaly was</p>
        </div>


    </body>
</html>